priority -49

snippet ty "typedef"
typedef ${1} ${2};
${0}
endsnippet

snippet grd "guard macro"
#ifndef ${1:`!v toupper(fnamemodify(getcwd(), ':t') . '_' . substitute(substitute(expand('%'), '^src/', '', ''), '[^a-zA-Z0-9]\+', '_', 'g'))`}
#define ${1///}

${0}

#endif /* ${1///} */
endsnippet

snippet struct "struct typedef"
typedef struct ${1} {
	${0}
} ${1///}_t;
endsnippet
